body,
html {
    height: 100dvh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: #F2D5B3;
    flex-direction: column;
}

@font-face {
    font-family: "InkNutAntiqua";
    src: url(./fonts/InknutAntiqua-Regular.woff2) format("woff2"),
        url(./fonts/InknutAntiqua-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 100px;
}

#seta-voltar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

h2 {
    font-family: "InkNutAntiqua", serif;
    font-size: 30px;
    color: #52362B;
}



.formulario {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50%;
}

label {
    font-family: "InkNutAntiqua", serif;
    font-size: 20px;
    color: #52362B;
}

/* flash designs criados com ajuda de i.a */
.flash-messages-container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    z-index: 9999;
    position: fixed;
}

.alert {
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid transparent;
    z-index: 9999;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    z-index: 9999;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    z-index: 9999;
}

.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
    z-index: 9999;
}

.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
    z-index: 9999;
}

#exibir {
    margin: 0;
    width: 1.3rem;
    accent-color: #D83737;
    cursor: pointer;
}

#exibir-senha {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#label-exibir-senha {
    font-size: 0.8rem
}

input {
    width: 300px;
    height: 40px;
    background-color: #CCAF92;
    border-radius: 10px;
    border: 0;
    border-bottom: 3px solid #D83737;
    outline: none;
    transition: 0.5s;
    color: #fffbf5;
    font-family: "InkNutAntiqua", serif;
}

input:hover {
    transform: scale(1.1);
    border-bottom: 3px solid #D86037;
}

input::placeholder {
    color: #f1e5d1;
    font-family: "InkNutAntiqua", serif;
    font-weight: 100;
}

.executar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    z-index: 9999;
}

button {
    background-color: #D86037;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    transition: 0.5s;
    cursor: pointer;
    color: #F1E5D1;
    font-family: "InkNutAntiqua", serif;
}

button:hover {
    box-shadow: 0 0 10px #D86037;
}

#cadastrar {
    font-family: "InkNutAntiqua", serif;
    font-size: 10px;
    color: #D83737;
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
    transition: 0.5s;
}

#cadastrar:hover {
    text-shadow: 0 0 10px #D83737;
    transform: scale(1.1);
}

.waves {
    width: 100%;
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(./images/general/wave.png);
    background-size: 1000px 100px;
    border-top: 30px;
}

.wave1 {
    animation: movimento 25s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.wave2 {
    animation: movimento2 13s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave3 {
    animation: movimento 7s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.wave4 {
    animation: movimento2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -7s;
    bottom: 25px;
}

.wave5 {
    animation: movimento 6s linear infinite;
    z-index: 996;
    opacity: 0.3;
    animation-delay: -9s;
    bottom: 30px;
}

@keyframes movimento {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes movimento2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

@media (min-width: 390px) {
    #logo {
        width: 150px;
    }

    #seta-voltar {
        width: 40px;
        height: 40px;
    }

    h2 {
        font-size: 40px;
    }

    label {
        font-size: 25px;
    }

    input {
        width: 350px;
    }

    button {
        width: 150px;
        height: 50px;
        font-size: 17px;
    }

    #cadastrar {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    #logo {
        width: 200px;
        margin-top: 20px;
    }

    h2 {
        font-size: 50px;
    }

    label {
        font-size: 30px;
    }

    input {
        width: 600px;
        height: 45px;
        font-size: 20px;
    }

    button {
        width: 200px;
        height: 75px;
    }

    #entrar {
        font-size: 25px;
    }

    #cadastrar {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .formulario {
        margin-top: 250px;
    }
}