body,
html {
    height: 100dvh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: #F2D5B3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

@font-face {
    font-family: "InkNutAntiqua";
    src: url(./fonts/InknutAntiqua-Regular.woff2) format("woff2"),
        url(./fonts/InknutAntiqua-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* flash designs criados com ajuda de i.a */
.flash-messages-container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    z-index: 9999;
    position: fixed;
}

.alert {
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid transparent;
    z-index: 9999;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    z-index: 9999;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    z-index: 9999;
}

.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
    z-index: 9999;
}

.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
    z-index: 9999;
}

#logo {
    width: 100px;
}

#seta-voltar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.minhas-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}

.text-minhas-infos {
    font-family: "InkNutAntiqua", serif;
    color: #52362B;
    font-weight: 700;
    font-size: 1.5rem;
}

.cartao-infos {
    display: flex;
    flex-direction: row;
    background-color: #FAF2E1;
    border-radius: 10px;
    height: 20rem;
}

.indice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D95F3A;
    border-radius: 10px;
}

.ul-indice {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.nomes-indice {
    font-family: "InkNutAntiqua", serif;
    font-size: 1rem;
    list-style: none;
    color: #FAF2E1;
}

.infos {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: start;
}

.ul-infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 1rem;
}

.dados {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "InkNutAntiqua", serif;
    font-size: 0.7rem;
    list-style: none;
    color: #52362B;
    gap: 1rem;
}

.botao-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #D95F3A;
    border: 0;
    border-radius: 100%;
    width: 1rem;
    height: 0.5rem;
    cursor: pointer;
}

.img-editar {
    width: 1rem;
}

.botao-excluir {
    margin-top: 1rem;
    background-color: #D83737;
    border-radius: 30px;
    border: 0;
    padding: 1rem;
    color: #FAF2E1;
    font-family: "InkNutAntiqua", serif;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1000;
    -webkit-tap-highlight-color: transparent;
}

.botao-sair {
    margin-top: 1rem;
    background-color: #40954d;
    border-radius: 30px;
    border: 0;
    padding: 1rem;
    color: #FAF2E1;
    font-family: "InkNutAntiqua", serif;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1000;
    -webkit-tap-highlight-color: transparent;
}

#a-logout {
    color: #FAF2E1;
    text-decoration: none;
}

.botao-sair:hover {
    box-shadow: 0 0 10px #40954d;
}

.botao-excluir:hover {
    box-shadow: 0 0 10px #D83737;
}

.editar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 27%;
    z-index: 2000;
    background-color: #FAF2E1;
    border-radius: 30px;
    border: 3px solid #D83737;
    height: 20rem;
    width: auto;
}

.excluir {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 27%;
    z-index: 2000;
    background-color: #FAF2E1;
    border-radius: 30px;
    border: 3px solid #D83737;
    height: 20rem;
    width: auto;
    box-shadow: 0 0 30px #D83737;
}

.texto-alerta {
    font-family: "InkNutAntiqua", serif;
    color: #D83737;
    font-size: 1.3rem;
}

#confirmar-exclusao {
    border-radius: 20px;
    width: 6rem;
    height: 3rem;
    border: 0;
    font-family: "InkNutAntiqua", serif;
    color: #FAF2E1;
    transition: 0.5s;
    cursor: pointer;
    background-color: #D83737;
    transition: 0.5s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#confirmar-exclusao:disabled {
    background-color: #bdc3c7 !important; 
    color: #6b7677 !important; 
    cursor: not-allowed !important;
    font-size: 1rem;
}

#cancelar-exclusao {
    border-radius: 20px;
    width: 6rem;
    height: 3rem;
    border: 0;
    font-family: "InkNutAntiqua", serif;
    color: #FAF2E1;
    transition: 0.5s;
    cursor: pointer;
    background-color: #40954d;
    transition: 0.5s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#confirmar-exclusao:hover {
    box-shadow: 0 0 10px #D83737;
}

#cancelar-exclusao:hover {
    box-shadow: 0 0 10px #40954d;
}

#editar-email {
    display: none;
}

#editar-nome {
    display: none;
}

#editar-senha {
    display: none;
}

#editar-cpf {
    display: none;
}


.form-editar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 100%;
}

.label-editar {
    font-size: 2rem;
    font-family: "InkNutAntiqua", serif;
}

.input-editar {
    border-radius: 30px;
    height: 2rem;
    width: 15rem;
    border: 0;
    border-bottom: 3px solid #D83737;
    background-color: rgba(69, 38, 25, 0.419);
    margin-bottom: 2rem;
    font-family: "InkNutAntiqua", serif;
    color: #fffbf5;
}

input:focus {
    outline: none;
    border: 3px;
}

input::placeholder {
    color: #fffbf5;
}

.botoes-acao {
    display: flex;
    gap: 2rem;
}

.botao-campo-editar {
    border-radius: 20px;
    width: 6rem;
    height: 3rem;
    border: 0;
    font-family: "InkNutAntiqua", serif;
    color: #FAF2E1;
    transition: 0.5s;
    cursor: pointer;
}

.confirmar {
    background-color: #40954d;
}

.confirmar:hover {
    box-shadow: 0 0 10px #40954d;
}

.cancelar {
    background-color: #D83737;
}

.cancelar:hover {
    box-shadow: 0 0 10px #D83737;
}

.b-acao {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media (min-height: 550px) and (max-height: 600px) {
    header {
        padding-top: 15rem;
    }
}

@media (min-height: 601px) and (max-height: 700px) {
    header {
        padding-top: 10rem;
    }
}

@media (min-height: 701px) and (max-height: 750px) {
    header {
        padding-top: 5rem;
    }
}

@media (min-width: 390px) {
    #logo {
        width: 150px;
    }

    #seta-voltar {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 540px) {
    .minhas-infos {
        width: 30rem;
    }

    h3 {
        margin: 0;
    }

    .text-minhas-infos {
        font-size: 2rem;
    }

    .cartao-infos {
        width: 100%;
    }

    .dados,
    .nomes-indice {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    #logo {
        width: 200px;
        margin-top: 20px;
    }

    .minhas-infos {
        width: 40rem;
    }

    h3 {
        margin: 0;
    }

    .text-minhas-infos {
        font-size: 3rem;
    }

    .cartao-infos {
        width: 100%;
        height: 100%;
    }

    .dados,
    .nomes-indice {
        font-size: 1.6rem;
    }

    .botao-excluir {
        width: 13rem;
        height: 5rem;
        font-size: 1.2rem;
    }

    .botao-sair {
        width: 13rem;
        height: 5rem;
        font-size: 1.2rem;
    }

    .botao-editar {
        width: 2.5rem;
        height: 2.5rem;
    }

    .img-editar {
        width: 1.3rem;
    }

    .form-editar {
        width: 40rem;
        height: 100%;
    }

    .editar {
        height: 30rem;
    }

    .label-editar {
        font-size: 3rem;
    }

    .input-editar {
        height: 4rem;
        width: 30rem;
        font-size: 2rem;
    }

    .botao-campo-editar {
        width: 12rem;
        height: 6rem;
        border-radius: 50px;
        font-size: 1.5rem;
    }

    .excluir {
        height: 30rem;
    }

    .texto-alerta {
        font-size: 2rem;
    }

    #cancelar-exclusao,
    #confirmar-exclusao {
        width: 12rem;
        height: 6rem;
        border-radius: 50px;
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) and (max-width: 1900px) {
    #logo {
        width: 100px;
    }

    header {
        margin-top: 7rem;
    }
}