<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
    <link rel="stylesheet" href="../static/conta.css">
    <link rel="shortcut icon" href="../static/images/general/logoNOBG.png">
</head>

<body>

    <header>
        <a href="https://linhadotempo.onrender.com"><img class="img-header" id="seta-voltar"
                src="../static/images/icons/seta-esquerda.png"></a>
        <img class="img-header" id="logo" src="../static/images/general/logoNOBG.png">
    </header>

    <div class="minhas-infos">
        <h3 class="text-minhas-infos">Minhas Informações</h3>
        <div class="cartao-infos">
            <div class="indice">
                <ul class="ul-indice">
                    <li class="nomes-indice">Email</li>
                    <li class="nomes-indice">Nome</li>
                    <li class="nomes-indice">Senha</li>
                    <li class="nomes-indice">Cpf</li>
                </ul>
            </div>
            <div class="infos">
                <ul class="ul-infos">
                    <li class="dados">exemplo@gmail.com <button class="botao-editar"><a class="link-editar"
                                href="#"><img class="img-editar" src="../static/images/icons/edit.png"
                                    alt="editar"></a></button> </li>
                    <li class="dados">exemplo da silva <button class="botao-editar"><a class="link-editar" href="#"><img
                                    class="img-editar" src="../static/images/icons/edit.png" alt="editar"></a></button>
                    </li>
                    <li class="dados">12345 <button class="botao-editar"><a class="link-editar" href="#"><img
                                    class="img-editar" src="../static/images/icons/edit.png" alt="editar"></a></button>
                    </li>
                    <li class="dados">123.456.789-10 <button class="botao-editar"><a class="link-editar" href="#"><img
                                    class="img-editar" src="../static/images/icons/edit.png" alt="editar"></a></button>
                    </li>
                </ul>
            </div>
        </div>

        <button class="botao-excluir"><a class="link-excluir">Excluir Conta</a></button>
    </div>



    <!-- div da animcao inferior -->
    <div class="waves">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
        <div class="wave wave5"></div>
    </div>

    <!-- vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>
</html>