<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
    <link rel="stylesheet" href="../static/conta.css">
    <link rel="shortcut icon" href="../static/images/general/logoNOBG.png">
</head>

<body>

    <header>
        <a href="https://linhadotempo.onrender.com"><img class="img-header" id="seta-voltar"
                src="../static/images/icons/seta-esquerda.png"></a>
        <img class="img-header" id="logo" src="../static/images/general/logoNOBG.png">
    </header>

    <div class="minhas-infos">
        <h3 class="text-minhas-infos">Olá {{ user.nome }}</h3>
        <div class="cartao-infos">
            <div class="indice">
                <ul class="ul-indice">
                    <li class="nomes-indice">Email</li>
                    <li class="nomes-indice">Nome</li>
                    <li class="nomes-indice">Cpf</li>
                </ul>
            </div>
            <div class="infos">
                <ul class="ul-infos">
                    <li class="dados">{{ user.email }}<button id="botao-editar-email" class="botao-editar"><img
                                class="img-editar" src="../static/images/icons/edit.png" alt="editar"></button></li>
                    <li class="dados">{{ user.nome }}<button id="botao-editar-nome" class="botao-editar"><img
                                class="img-editar" src="../static/images/icons/edit.png" alt="editar"></button>
                    </li>
                    <li class="dados">{{ user.cpf }}<button id="botao-editar-cpf" class="botao-editar"><img
                                class="img-editar" src="../static/images/icons/edit.png" alt="editar"></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="b-acao">
            <button class="botao-excluir">Excluir Conta</button>
            <button class="botao-sair" href="{{ url_for('logout')}}">Sair da Conta</button>
        </div>
    </div>

    <div class="editar" id="editar-email">
        <form class="form-editar">
            <label for="email" class="label-editar">Editar Email</label>
            <input type="email" class="input-editar" placeholder="Informe o Novo Email">
            <div class="botoes-acao">
                <button class="confirmar botao-campo-editar" type="submit">Confirmar</button>
                <button class="cancelar botao-campo-editar" type="button">Cancelar</button>
            </div>
        </form>
    </div>

    <div class="editar" id="editar-nome">
        <form class="form-editar">
            <label for="text" class="label-editar">Editar Nome</label>
            <input type="text" class="input-editar" placeholder="Informe o Novo Nome">
            <div class="botoes-acao">
                <button class="confirmar botao-campo-editar" type="submit">Confirmar</button>
                <button class="cancelar botao-campo-editar" type="button">Cancelar</button>
            </div>
        </form>
    </div>

    <div class="editar" id="editar-senha">
        <form class="form-editar">
            <label for="password" class="label-editar">Editar Senha</label>
            <input type="password" class="input-editar" placeholder="Informe a Nova Senha">
            <div class="botoes-acao">
                <button class="confirmar botao-campo-editar" type="submit">Confirmar</button>
                <button class="cancelar botao-campo-editar" type="button">Cancelar</button>
            </div>
        </form>
    </div>

    <div class="editar" id="editar-cpf">
        <form class="form-editar">
            <label for="text" class="label-editar">Editar Cpf</label>
            <input type="text" class="input-editar" placeholder="Informe o Novo Cpf">
            <div class="botoes-acao">
                <button class="confirmar botao-campo-editar" type="submit">Confirmar</button>
                <button class="cancelar botao-campo-editar" type="button">Cancelar</button>
            </div>
        </form>
    </div>

    <div class="excluir" id="id-exclui">
        <h3 class="texto-alerta">Tem certeza que deseja excluir sua conta?<br>Esta ação não é reversível!</h3>
        <div class="botoes-acao">
            <button id="confirmar-exclusao">Excluir</button>
            <button id="cancelar-exclusao" class="cancelar-excluir">Cancelar</button>
        </div>
    </div>


    <!-- div da animcao inferior -->
    <div class="waves">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
        <div class="wave wave5"></div>
    </div>

    <!-- vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    <script>
        document.getElementById("botao-editar-email")
            .addEventListener("click", () => {
                const editar =
                    document.getElementById("editar-email");
                editar.style.display = "flex"
            });

        document.getElementById("botao-editar-nome")
            .addEventListener("click", () => {
                const editar =
                    document.getElementById("editar-nome");
                editar.style.display = "flex"
            });

        document.getElementById("botao-editar-cpf")
            .addEventListener("click", () => {
                const editar =
                    document.getElementById("editar-cpf");
                editar.style.display = "flex"
            });

        document.querySelectorAll(".cancelar").forEach(botao => {
            botao.addEventListener("click", (e) => {
                e.target.closest(".editar").style.display = "none";
            });
        });

        document.querySelectorAll(".cancelar-excluir").forEach(botao => {
            botao.addEventListener("click", (e) => {
                e.target.closest(".excluir").style.display = "none";
            });
        });

        document.querySelectorAll(".botao-excluir").forEach(botao => {
            botao.addEventListener("click", () => {
                document.querySelector(".excluir").style.display = "flex";
            });
        });
    </script>
</body>

</html>|