<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub de Jogos</title>
    <link rel="stylesheet" href="../static/hubjogos.css">
    <link rel="shortcut icon" href="../static/images/general/logoNOBG.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Moul&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="div-botao-voltar">
            <a href="https://linhadotempo.onrender.com">
                <img class="img-botao-voltar" src="../static/images/icons/seta-branca.png" alt="voltar">
            </a>
        </div>
        <div class="trofeus">
            <img class="img-trofeus" src="../static/images/general/trofeu.png" alt="trofeu">
            <img class="img-trofeus" src="../static/images/general/trofeu.png" alt="trofeu">
        </div>

        <div class="titulo-header">
            <h2 class="texto-burguer-rush h2-header">Central de Jogos - Burguer Rush</h2>
        </div>
    </header>

    <div class="div-jogos">
        <h3 class="jogos-disponiveis">Jogos Disponíveis</h3>

        <div class="jogos">
            <div class="jogo1 jogo">
                <a class="link-jogo" href="/deliverydash"><img src="../static/images/general/capa-jogo1.png"
                        alt="delivery-dash-capa" class="capa-jogo"></a>
            </div>
            <div class="jogo2 jogo">
                <a class="link-jogo" href="/snake"><img src="../static/images/general/capa-jogo2.png" alt="snake"
                        class="capa-jogo"></a>
            </div>
        </div>
    </div>

    <div class="ranking">
        <h3 class="titulo-classificacao">Classificação dos 15 Melhores</h3>

        <table>
            <thead>
                <tr class="tr-topo">
                    <th class="th-topo">Posição</th>
                    <th class="th-topo">Nome</th>
                    <th class="th-topo">Pontos</th>
                </tr>
            </thead>

            <tbody>
                <tr class="destaque">
                    <td>1</td>
                    <td>Fulano</td>
                    <td>9999</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Trump</td>
                    <td>789</td>
                </tr>
                <tr class="destaque">
                    <td>3</td>
                    <td>Alan</td>
                    <td>689</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Robson</td>
                    <td>567</td>
                </tr>
                <tr class="destaque">
                    <td>5</td>
                    <td>Cicrano</td>
                    <td>456</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Beltrano</td>
                    <td>345</td>
                </tr>
                <tr class="destaque">
                    <td>7</td>
                    <td>Marciano</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Silvio Santos</td>
                    <td>100</td>
                </tr>
                <tr class="destaque">
                    <td>9</td>
                    <td>Snoop</td>
                    <td>96</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Sara</td>
                    <td>56</td>
                </tr>
                <tr class="destaque">
                    <td>11</td>
                    <td>Luffy</td>
                    <td>43</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Bolsonaro</td>
                    <td>32</td>
                </tr>
                <tr class="destaque">
                    <td>13</td>
                    <td>Lula</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Putin</td>
                    <td>25</td>
                </tr>
                <tr class="destaque">
                    <td>15</td>
                    <td>Neymar</td>
                    <td>17</td>
                </tr>
            </tbody>
        </table>


    </div>



    <!-- vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

</body>

</html>