<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub de Jogos</title>
    <link rel="stylesheet" href="../static/hubjogos.css">
    <link rel="shortcut icon" href="../static/images/general/logoNOBG.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Moul&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="div-botao-voltar">
            <a href="https://linhadotempo.onrender.com">
                <img class="img-botao-voltar" src="../static/images/icons/seta-branca.png" alt="voltar">
            </a>
        </div>
        <div class="trofeus">
            <img class="img-trofeus" src="../static/images/general/trofeu.png" alt="trofeu">
            <img class="img-trofeus" src="../static/images/general/trofeu.png" alt="trofeu">
        </div>

        <div class="titulo-header">
            <h2 class="texto-burguer-rush h2-header">Central de Jogos - Burguer Rush</h2>
        </div>
    </header>

    <div class="div-jogos">
        <h3 class="jogos-disponiveis">Jogos Disponíveis</h3>

        <div class="jogos">
            <div class="jogo1 jogo">
                <a class="link-jogo" href="/deliverydash"><img src="../static/images/general/capa-jogo1.png"
                        alt="delivery-dash-capa" class="capa-jogo"></a>
            </div>
            <div class="jogo2 jogo">
                <a class="link-jogo" href="/snake"><img src="../static/images/general/capa-jogo2.png" alt="snake"
                        class="capa-jogo"></a>
            </div>
        </div>
    </div>

    <div class="ranking">
        <h3 class="titulo-classificacao">Classificação dos 15 Melhores</h3>

        <table>
            <thead>
                <tr class="tr-topo">
                    <th class="th-topo">Posição</th>
                    <th class="th-topo">Nome</th>
                    <th class="th-topo">Pontos</th>
                </tr>
            </thead>
            <tbody>
                {% for user in ranking_data %}

                <tr class="{% if loop.index % 2 == 1 %}destaque{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>{{ user.nome }}</td>
                    <td>{{ user.total_score }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>


    </div>



    <!-- vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

</body>

</html>