<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/images/general/logoNOBG.png">
</head>
<body>

    <header>
        <a href="https://linhadotempo.onrender.com"><img class="img-header" id="seta-voltar"
                src="../static/images/icons/seta-esquerda.png"></a>
        <img class="img-header" id="logo" src="../static/images/general/logoNOBG.png">
    </header>

    <div class="formulario">
        <h2>Entrar</h2>
        <form id="login-form">
            <label for="email">E-mail</label>
            <input id="email" type="email" name="email" required placeholder="Insira seu email">

            <label for="senha">Senha</label>
            <input id="senha" type="password" name="senha" required placeholder="Insira sua senha">
            <div class="executar">
                <button type="submit">Entrar</button>
                <a id="cadastrar" href="/cadastro">Não Tenho Conta</a>
                <a id="recuperar-senha">Esqueci Minha Senha</a>
            </div>
        </form>
    </div>

    <!-- div da animcao inferior -->
    <div class="waves">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
        <div class="wave wave5"></div>
    </div>

    <!-- vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    <script>
        const form = document.getElementById('login-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // sempre bloqueia primeiro

            const senha = document.getElementById('senha').value.trim();

            if (senha.length < 6 || senha.length > 8) {
                alert('A senha deve ter entre 6 e 8 caracteres.');
                return;
            }

            window.location.href = "./cadastro.html";
        });
    </script>

</body>

</html>