<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/images/general/logoNOBG.png">
</head>

<body>

    <header>
        <img class="img-header" id="logo" src="../static/images/general/logoNOBG.png">
    </header>

    <div class="formulario">
        <h2>Redefinição</h2>
        <form id="login-form" method="post" action="/recuperar">
            <label for="email">E-mail</label>
            <input id="email" type="email" name="email" required placeholder="Insira seu email">
            <div class="executar">
                <button type="submit">Redefinir</button>
            </div>
        </form>
    </div>

    

    <!-- div da animcao inferior -->
    <div class="waves">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
        <div class="wave wave5"></div>
    </div>

    <!-- vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    <script>
        const form = document.getElementById('login-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // sempre bloqueia primeiro
            form.submit();
        });
    </script>

</body>

</html>